@import url("https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto");
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair_Display') format('truetype');
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/glacial-indifference/GlacialIndifference-Regular.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/glacial-indifference/GlacialIndifference-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ordinary Notes';
  src: url('../fonts/ordinary_notes/Ordinary Notes Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Ordinary Notes';
  src: url('../fonts/ordinary_notes/Ordinary Notes Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Ordinary Notes';
  src: url('../fonts/ordinary_notes/Ordinary Notes.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Ordinary Notes';
  src: url('../fonts/ordinary_notes/Ordinary Notes.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/ Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/static/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/static/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/static/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/static/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/static/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/static/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/static/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/static/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/static/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/static/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/static/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/static/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/static/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/static/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/static/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'LT Renovate';
  src: url('/fonts/lt_renovate/LTRenovate-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'LT Renovate';
  src: url('/fonts/lt_renovate/LTRenovate-BoldItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'LT Renovate';
  src: url('/fonts/lt_renovate/LTRenovate-ExtraBold.otf') format('opentype');
  font-weight: 100;
  font-style: bolder;
}

@font-face {
  font-family: 'LT Renovate';
  src: url('/fonts/lt_renovate/LTRenovate-ExtraBoldItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'LT Renovate';
  src: url('/fonts/lt_renovate/LTRenovate-Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'LT Renovate';
  src: url('/fonts/lt_renovate/LTRenovate-Medium.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'LT Renovate';
  src: url('/fonts/lt_renovate/LTRenovate-MediumItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'LT Renovate';
  src: url('/fonts/lt_renovate/LTRenovate-Regular.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'LT Renovate';
  src: url('/fonts/lt_renovate/LTRenovate-SemiBold.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'LT Renovate';
  src: url('/fonts/lt_renovate/LTRenovate-SemiBoldItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

/* ==========================================================================
   Section Title
   ========================================================================== */
.section {
  padding: 80px 0 65px;
}

.section-header {
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}

.section-header .section-title {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-color: #143389;
  background-image: -webkit-linear-gradient(bottom right, #7a2046, #143389);
  background-image: -o-linear-gradient(bottom right, #7a2046, #143389);
  background-image: linear-gradient(to top left, #7a2046, #143389);
  position: relative;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 30px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
}

.btn-common {
  background-image: -moz-linear-gradient(0deg, #662e93 0%, #662e93 100%);
  background-image: -webkit-linear-gradient(0deg, #662e93 0%, #662e93 100%);
  background-image: -ms-linear-gradient(0deg, #662e93 0%, #662e93 100%);
  position: relative;
  z-index: 1;
}

.btn-common:hover {
  color: #fff;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.btn-effect {
  overflow: hidden;
}

.btn-effect:after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-effect:hover:after {
  width: 100%;
}

.btn-border {
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  background-color: transparent;
  border-color: #3c9cfd;
  color: #3c9cfd;
}

.btn-border:hover {
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.btn-border-filled {
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #fff;
  color: #3c9cfd;
}

.btn-border-filled:hover {
  color: #3c9cfd;
  background-color: #ffffff;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  color: #3c9cfd;
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 16px;
}

.btn-rm i {
  vertical-align: middle;
}

.btn-trial {
  background: #fff;
  color: #191c1e;
  padding: 5px 20px;
  margin-left: 30px;
}

.btn-trial:hover,
.btn-trial:active,
.btn-trial:focus {
  color: #3c9cfd;
}

.btn-apple {
  border-width: 2px;
  border-color: #7a2046;
  border-style: solid;
  background: linear-gradient(to right, #7a2046 0%, #143389 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.btn-apple i {
  background: linear-gradient(to right, #7a2046 0%, #143389 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-apple:hover,
.btn-apple:active,
.btn-apple:focus {
  background: linear-gradient(to right, #7a2046 0%, #143389 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

button:focus {
  outline: none !important;
}

.btn-border-fill {
  background: #fff;
  border-color: #fff;
  color: #3c9cfd;
}

.btn-subtitle {
  color: #191c1e;
  font-family: 'Poppins', sans-serif;
  background: #dbecff;
  text-align: center;
  border-radius: 30px;
  padding: 6px 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
}

.clear {
  clear: both;
}

.mt {
  margin-top: 80px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.padding-0 {
  padding: 0;
}

/* ==========================================================================
   Social Iocns
   ========================================================================== */
.social-icons {
  margin-bottom: 20px;
}

.social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons ul li {
  display: inline;
}

.social-icons ul li a {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 254, 254, 0.07);
  line-height: 40px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 16px;
}

.social-icons ul li a img {
  width: 50px;
  height: 50px;
}

.social-icons ul li a:hover {
  color: #fff;
}

.facebook a {
  color: #4867AA;
}

.facebook a:hover {
  background: #4867AA;
}

.twitter a {
  color: #1DA1F2;
}

.twitter a:hover {
  background: #1DA1F2;
}

.instagram a {
  color:linear-gradient(45deg, #405de6, #833ab4, #c13584, #e0b423);
}

.instagram a:hover {
  background:linear-gradient(45deg, #405de6, #833ab4, #c13584, #e0b423);
}

.youtube a {
  color: #DF2926;
}

.youtube a:hover {
  background: #DF2926;
}

.tiktok a {
  color: #1a0031;
}

.tiktok a:hover {
  background: #1a0031;
}

.linkedin a {
  color: #007BB6;
}

.linkedin a:hover {
  background: #007BB6;
}

.pinterest a {
  color: #BD081C;
}

.pinterest a:hover {
  background: #BD081C;
}

.dribbble a {
  color: #EA4C89;
}

.dribbble a:hover {
  background: #EA4C89;
}

.behance a {
  color: #0B7CFF;
}

.behance a:hover {
  background: #0B7CFF;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before, #loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
  border-top-color: #3c9cfd;
}

#loader-1:before {
  z-index: 100;
  animation: spin 2s infinite;
}

#loader-1:after {
  border: 7px solid #fafafa;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ========================================================================== 
   Scroll To Up 
   ========================================================================== */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  width: 45px;
  height: 45px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
}

.back-to-top i {
  background: linear-gradient(to right, #7a2046 0%, #143389 100%);
  -webkit-background-clip: text;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* ==========================================================================
   Navbar Style
   ========================================================================== */
.logo-menu a {
  font-size: 20px;
  color: #fff;
}

.custom-navbar {
  background:#ffffff !important;
  padding: 10px 20px;
  height: 90px;
}


.menu-bg {
  background: -webkit-linear-gradient(left, #7a2046 0%, #143389 100%) !important;
  background: linear-gradient(to right, #7a2046 0%, #143389 100%) !important;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  padding: 5px;
}

.menu-bg .menu-button {
  top: 0;
}

.menu-bg .menu-button:hover {
  cursor: pointer;
  color: #3c9cfd;
}

.menu-bg .logo-menu a {
  color: #3c9cfd;
}

.menu-bg .navbar-nav .nav-link {
  color: #662e93!important;
}

.menu-bg .navbar-nav .nav-link:hover {
  color: #662e93 !important;
}

.menu-bg .navbar-nav .active {
  color: #662e93 !important;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: #662e93;
  font-size: 22px;
  padding: 5px 0px;
  margin-left: 30px;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.navbar-expand-md .navbar-nav .nav-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #662e93;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.navbar-expand-md .navbar-nav .active::before,
.navbar-expand-md .navbar-nav .nav-link:hover::before {
  width: 100%;
}

.navbar-brand {
  color: #662e93;
}

.navbar-expand-md .navbar-nav .nav-link:focus,
.navbar-expand-md .navbar-nav .nav-link:hover,
.navbar-expand-md .navbar-nav .nav-link:hover:before {
  color: #662e93;
}

.navbar-expand-md .navbar-nav .active > .nav-link,
.navbar-expand-md .navbar-nav .nav-link.active,
.navbar-expand-md .navbar-nav .nav-link.active:before,
.navbar-expand-md .navbar-nav .nav-link.open,
.navbar-expand-md .navbar-nav .open > .nav-link {
  color: #662e93;
}

.navbar-expand-md .navbar-toggler {
  background: transparent;
  border: 1px solid #662e93;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  float: right;
}

.navbar-expand-md .navbar-toggler i {
  color: #662e93 !important;
}

.navbar-expand-md .navbar-toggler:focus {
  outline: none;
}

.navbar img {
  width: 138px;
  height: 81px;
}
/* ==========================================================================
   Hero Area
   ========================================================================== */
.hero-area {
  background: #7a2046;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.hero-area .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: -moz-linear-gradient(0deg, #7a2046 0%, #143389 100%);
  background-image: -webkit-linear-gradient(0deg, #7a2046 0%, #143389 100%);
  background-image: -ms-linear-gradient(0deg, #7a2046 0%, #143389 100%);
}

.hero-area .contents {
  padding: 160px 0 140px;
}

.hero-area .contents h2 {
  color: #fff;
  font-size: 42px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 25px;
}

.hero-area .contents p {
  color: #fff;
  font-size: 14px;
  line-height: 26px;
}

.hero-area .contents .btn {
  margin-top: 40px;
  margin-right: 20px;
  text-transform: uppercase;
}

.hero-area .contents .btn-border {
  border: 2px solid #fff;
  color: #fff;
}

.hero-area .intro-img {
  padding: 148px 0 0px;
}

.hero-area .intro-img img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* ==========================================================================
 Hero Production version
 ========================================================================== */
.hero-area-2 {
  color: #fff;
  overflow: hidden;
  position: relative;
}

.hero-area-2 .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-image: url(../img/background.jpg)
}

.hero-area-2 .contents {
  padding: 400px 0 140px;
}

.hero-area-2 .contents h2 {
  font-weight: 400;
  font-size: 55px;
  color: #fff;
  line-height: 70px;
  margin-bottom: -5px;
  max-height: 250px;
  max-width: 80%;
  height: auto;
  position: relative;
  top: -90px;
  text-align: center;
}

.hero-area-2 .contents p {
  color: #fff;
  font-size: 14px;
  line-height: 26px;
}

.hero-area-2 .contents .btn {
  margin-top: 40px;
  margin-right: 20px;
  text-transform: uppercase;
}

.hero-area-2 .contents .btn-border {
  border: 2px solid #fff;
  color: #fff;
}

.hero-area-2 .intro-img {
  padding: 180px 0 0px;
}

.hero-area-2 .intro-img img {
  display: block;
  height: auto;
  max-width: 100%;
}

.custom-logo {
  max-width: 100%;
  max-height: 250px;
  height: auto;
  position: relative;
  left: 90px;
  top: -90px;
  max-width: 80%;
}

/* ==========================================================================
  MAIN
 ========================================================================== */

 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333;
}

.seccion {
  padding: 0px;
  margin: 40px auto;
  max-width: 1400px;
  background-color: #ffffff;
  border-radius: 8px;
}

.titulo {
  font-family: 'Glacial Indifference', sans-serif, !important;
  font-size: 50px;
  font-weight: 200;
  color: #662e93;
  text-align: center;
  margin-bottom: 33px;
}

.descripcion {
  font-family: 'LT Renovate', sans-serif, !important;
  font-size: 24px;
  font-weight: 200;
  text-align: justify;
  line-height: 32px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
  color: #000000;
}

.enlace {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  background-color: #d92332;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.enlace:hover {
  background-color: #a71d26;
}

html {
  overflow-x: hidden;
}

p {
  font-size: 18px;
  color: #a0a6ad;
  line-height: 26px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
}

a:hover, a:focus {
  color: #3c9cfd;
}

a {
  color: #3c9cfd;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #191c1e;
}

h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Playfair Display';
  max-width: 100%;
  max-height: 250px;
  max-width: 80%;
  height: auto;
  position: relative;
  top: -90px;
  margin-top: 30px;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #fff;
}

.bg-transparent {
  background: transparent !important;
}

.bg-defult {
  background: #3c9cfd !important;
}

/*BIENVENIDO*/
.bienvenido img{
  width: 500px;
  height: 300px;
}

/*NOSOTROS*/
.nosotros {
  width: 250px;
  height: 500px;
}

/*TESTIMONIOS*/
.testmn img{
  width: 50px;
  height: 50px;
}

/*INSTRUCTORES*/
.team-member {
  margin-bottom: 50px;
  text-align: center;
}
  
.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #662e93;
}
  
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
  
.team-member p {
  margin-top: 0;
}

/*INSTALACIONES*/
.instalaciones2 {
  margin-bottom: 50px;
  text-align: center;
}

.instalaciones2 img {
  width: 350px;
  height: 350px;
  margin: 20px;
}